:root{
  --Dark_desaturated_cyan: hsl(167, 40%, 24%);
  --Dark_blue :hsl(198, 62%, 26%);
  --Yellow: hsl(51, 100%, 49%);
  --White:white;
  --Very_dark_desaturated_blue:hsl(212, 27%, 19%);
  --bg-white :#fffbf7;
  --Grayish_blue:hsl(210, 4%, 67%);
  --Dark_grayish_blue:hsl(232, 10%, 55%);
  --Soft_orange:hsla(6.8, 98.7%, 70%);
  --Very_dark_grayish_blue:hsl(213, 9%, 39%);
  --footer-bg:hsl(167, 44%, 70%);
  --Yellowish: hsl(51, 100%, 49%);
}
body {
  text-align: center;
  font-family: "Fraunces", sans-serif;
  background-color:var(--bg-white);
}

header {
  background-image: url("/images/desktop/image-header.jpg");
  background-size: cover;
  color: var(--White);
}
.logo {
  width: 12rem;
  height: auto;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  z-index: 1;
  padding: 0.7rem 0.9rem;
  transition: 0.4s;
}
.navbar-active{
    background-color: #3cbdfd;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);

}
#navbarToggler1 {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  align-items: center;
}
.navbar-collapse {
  flex-grow: 0;
}
.nav-link {
  color: var(--White);
  margin: 1rem;
}
#contact {
  padding: 0.7rem 1rem;
  color: var(--Very_dark_desaturated_blue);
  background: var(--White);
  border-radius: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  transition: 0.3s;
  font-family: "Fraunces", serif;
  font-size: 0.9rem;
  transition: all 0.2s ease-in-out;
}
#contact:hover {
  color: var(--White);
  background-color: rgba(255, 255, 255, 0.25);
}
#header-content {
  height: 100vh;
  position: relative;
  margin-left: 2rem;
}
#header-content h1 {
  position: relative;
  top: 25%;
  font-weight: 900;
  font-size: 3rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}
#header-content img {
    position: relative;
    top: 40%;
}
.view {
  padding: 0;
  margin: 0;
}
.images {
  padding: 0;
}
.images img {
  width: 100%;
  height: 100%;
}
.mobile-image {
  display: none;
}
.texts {
  padding: 9.4rem;
  text-align: left;
}
.texts h1 {
  margin: 0 0 2rem;
  font-weight: 900;
  color: var(--very_dark_saturated_blue);
}
.texts p {
  color: var(--Dark_grayish_blue);
  font-family: "Barlow", sans-serif;
  line-height: 1.4;
  font-size: 18px;
  margin: 0 0 2rem;
}
.learn a {
  text-decoration: none;
  color: var(--very_dark_saturated_blue);
  font-family: "Fraunces", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0 0 0 0.5rem;
  display: block;
}

.learn a::after {
  content: "";
  width: 9rem;
  height: 0.6rem;
  display: block;
  position: absolute;
  transform: translate(-0.7rem, -0.3rem);
  border-radius: 5rem;
  transition: 0.5s;
  opacity: 0.5;
  background-color: var(--Yellow);
}
.view-2 .texts a::after {
  background-color: var(--Soft_orange);
}
.view-3-sec {
  position: relative;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.view-3-text {
  position: absolute;
  text-align: center;
  bottom: 2rem;
  width: 55%;
  left: 25%;
}
.view-3-sec h1 {
  margin-bottom: 1.8rem;
  font-weight: 900;
  font-size: 2rem;
}
.view-3-sec p {
  font-family: "Barlow", sans-serif;
  line-height: 1.4;
  font-size: 18px;
  font-weight: 500;
}
#photography {
  color: var(--Dark_blue);
}
#graphic-design {
  color: var(--Dark_desaturated_cyan);
}

.testimonial {
  padding: 5rem;
  margin-top: 3rem;
}
.testimonial h1 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 900;
  letter-spacing: 0.3rem;
  color: var(--Grayish_blue);
  margin-bottom: 6rem;
}
.testimonial div {
  margin: 0;
}
.testimonials {
  padding: 3rem;
}
.testimonials img {
  border-radius: 50%;
  width: 4.5rem;
  margin-bottom: 2.5rem;
}
.testimonials p {
  color: var(--Very_dark_grayish_blue);
  font-weight: 600;
  font-family: "Barlow", sans-serif;
  margin-bottom: 3rem;
}
.testimonials span {
  display: block;
}
.people-name {
  color: var(--very_dark_saturated_blue);
  font-weight: 900;
  font-size: 1.2rem;
}
.people-responsibility {
  color: var(--Grayish_blue);
  font-family: "Barlow", sans-serif;
  font-weight: 600;
}
.gallery {
  margin: 0;
  padding: 0;
}
.gallery img {
  padding: 0;
}
footer {
  background-color: var(--footer-bg);
  margin: 0;
  padding: 3rem 4rem 0;
}

footer img {
  margin-bottom: 4rem;
}
footer ul {
  display: flex;
  justify-content: center;
  list-style: none;
}
.footer-links li a {
  color: var(--Dark_desaturated_cyan);
  font-weight: 600;
  margin: 0 3rem;
  text-decoration: none;
  font-family: "Barlow", sans-serif;
}
.social-icons {
  padding-top: 5rem;
  margin: 0rem;
}
.social-icons li a {
  margin: 0 1rem;
}

@media (max-width: 62rem) {
    .navbar-collapse.collapsing,
    .navbar-collapse.show {
      background-color: var(--White);
      position: relative;
      top: 2rem;
      padding: 2rem 0;
    }
    .navbar-collapse::before{
    content: "";
    border-left: 1.5rem solid transparent;
    border-bottom: 1.5rem solid var(--White);
    position: absolute;
    top: -1.5rem;
    right: 0;
    
    }
    .nav-link{
      color: var(--Very_dark_grayish_blue);
    }
    #contact{
      background-color: var(--Yellowish);
      width: 50%;
      margin: 1rem auto;
      
    }
  header {
    background-image: url("/images/mobile/image-header.jpg");
    background-position: center;
  }
  .desktop-image {
    display: none;
  }
  .mobile-image {
    display: block;
    width: 100%;
  }
  .view-1 {
    display: flex;
    flex-direction: column-reverse;
  }

  .texts {
    text-align: center;
  }
  .texts a::after {
    left: 42%;
    transform: translate(0);
  }
  .view-3-text {
    bottom: 7rem;
  }
}
@media (max-width: 36rem) {
  .logo {
    width: 10rem;
  }
  #header-content {
    margin: 0;
  }
  .footer-links li a {
    padding: 1rem;
    margin: 0rem 0.7rem;
  }
  .texts {
    padding: 4rem 2rem;
  }
  .texts a::after {
    left: 32%;
    transform: translate(0);
  }
  .view-3-text {
    bottom: 2rem;
  }
  .testimonial {
    padding: 1rem 0 1rem 1rem;
  }
  .testimonial h1 {
    margin-bottom: 2rem;
  }
}
